.header {
  margin-bottom: 15px;
}

.ui-button {
  height: 39px;
  min-width: 100px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 0 15px;
}

#rooms-page {
  padding: 30px;
  box-sizing: border-box;
}

#rooms-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.room-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 250px;
  background-color: rgb(138, 161, 182);
  margin: 0 20px 20px 0;
}

.room-users-count {
  font-size: 0.7rem;
  align-self: flex-start;
}

.room-name {
  font-size: 2rem;
}
